<div class="card">
    <div class="card-header">
     calcular IMC
    </div>
    <div class="card-body">
        <img [src]="urlImage" class="img-fluid rounded mx-auto d-block" width="250px" height="140px" >
        <hr>


        <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txttalla" [(ngModel)]="formImc.talla"
            placeholder="name@example.com">
            <label for="txttalla">Ingrese su talla</label>
          </div>

          <div class="form-floating mb-3">
            <input type="number" class="form-control" 
            id="txtpeso" [(ngModel)]="formImc.peso"
            placeholder="name@example.com">
            <label for="txtpeso">Ingrese su peso</label>
          </div>

          <button type="button" (click)="calcularImc()" class="btn btn-outline-primary">Calcular</button>
          @if(mostrarMensaje){
              <div class="alert alert-info" role="alert"> {{resultado}}</div>
          }
            
          <hr/>
       
         <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Valor IMC</th>
                <th scope="col">Diagnostico</th>
              </tr>
            </thead>
            <tbody>
            @for (itemPaciente of pacienteList; track $index) {
                <tr >
                    <th scope="row">{{itemPaciente.id}}</th>
                    <td>{{itemPaciente.valor}}</td>
                    <td>{{itemPaciente.diagnostico}}</td>
                  <tr>
            }
            
             
            </tbody>
          </table>
    </div>
  </div>
